<div class='container'>
    <div class='consult__inner'>
        <h2 class="consult__title">
            <span class="consult__title-item1">Свяжитесь со мной </span>
            <span class="consult__title-item2">для обсуждения вашей фотосессии</span>
        </h2>
        <div class="consult__img">
            <img src="img/ceo3.jpg" alt="">
        </div>
        <div class="consult__hint hint-block">
            <span>
                Оставьте свои данные, и по указанному номеру
                <strong>я свяжусь с вами в ближайшее время</strong> для обсуждения деталей вашей фотосессии
            </span>
        </div>
        <form class="consult__form consult-form">
            <div class="consult-form__grid">
                <fieldset class='form-group consult-form__froup'>
                    <input type='text' placeholder="Ваше имя" />
                </fieldset>
                <fieldset class='form-group consult-form__froup'>
                    <input type='tel' placeholder="Телефон" />
                </fieldset>
            </div>
            <p class="consult-form__hint">Нажимая на кнопку “Связаться” вы соглашаетесь с политикой обработки персональных данных</p>
            <button class="consult-form__btn btn btn-white">
                <span>Связаться</span>
                <img src="img/arrow.svg" alt="">
                <i class="btn-white__animate"></i>
            </button>
        </form>
    </div>
</div>