<footer class='footer'>
    <div class='container'>
        <a href="" class="footer__logo">
            <img src="img/logo.svg" alt="">
        </a>
        <nav class="footer__nav">
            <a href="" class="footer__link">Обо мне</a>
            <a href="" class="footer__link">Портфолио</a>
            <a href="" class="footer__link">Цены</a>
            <a href="" class="footer__link">Контакты</a>
        </nav>
        <div class='footer__wrap'>
            <!-- <div class="footer__city">
                <img src="img/pin.png" alt="">
                <span>г. Батуми</span>
            </div> -->
            <a href="tel:+995551597701" class="footer__phone">
                <img src="img/phone.svg" alt="">
                <span>+995 (551) 59-77-01</span>
            </a>
            <button class="footer__btn btn btn-white2">
                <span class="btn-white2__inner">
                    <span>Войти в кабинет</span>
                    <i>
                        <img src="img/gallery2.png" alt="">
                    </i>
                </span>
            </button>
            <a href="" class="footer__conf">
                Политика обработки персональных данных
            </a>
            <div class="footer__socials">
                <a href="" class="footer__socials-item footer__socials-item--whatsapp">
                    <img src="img/whatsapp.svg" alt="">
                </a>
                <a href="" class="footer__socials-item footer__socials-item--telegram">
                    <img src="img/telegram.svg" alt="">
                </a>
                <a href="" class="footer__socials-item footer__socials-item--instagram">
                    <img src="img/instagram.svg" alt="">
                </a>
                <a href="" class="footer__socials-item footer__socials-item--facebook">
                    <img src="img/facebook.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer__by">© Огиенко О. В., 2022</div>
    </div>
</footer>