<div class='container'>
    <div class='photosession__inner'>
        <h2 class="photosession__title display2">
            Фотосессии,
            <span>которые я провожу</span>
        </h2>
        <div class="photosession__desc">
            <span>Помогу легко раскрыть твой потенциал  <br>
                во время съемок и получить приятные впечатления</span>
        </div>

        <div class="photosession__items">
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--double">
                    <span>Лукбук /</span>
                    <span>Каталог</span>
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--double">
                    <span>Бьюти /</span>
                    <span>Реклама</span>
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession2.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Контент
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession3.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Модельные тесты
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession4.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Портфолио
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession5.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--two">
                    Творческий
                    <span>проект</span>
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession6.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--double">
                    <span>Семейная /</span>
                    <span class="photosession__item-title-sub">Love story</span>
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession7.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Индивидуальная
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession8.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Фотопрогулка
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession9.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Детская
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession10.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__item">
                <h4 class="photosession__item-title photosession__item-title--one">
                    Новогодняя
                </h4>
                <div class="photosession__item-bottom">
                    <div class="photosession__item-img">
                        <img src="img/photosession11.webp" alt="">
                    </div>
                    <button class="photosession__item-btn btn btn-black3">
                        <span>Подробнее</span>
                        @@include('../../img/arrow.svg')
                    </button>
                </div>
            </div>
            <div class="photosession__link">
                <div class="photosession__link-inner">
                    <div class="photosession__link-icon">
                        @@include('../../img/quill.svg')
                    </div>
                    <div class="photosession__link-title">
                        Записаться
                        <span>на фотосессию</span>
                    </div>
                    <div class="photosession__link-btn">
                        @@include('../../img/arrow.svg')
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>