<div class='container'>
    <div class='portfolio__inner'>
        <h2 class="portfolio__title display3">
            Незабываемые
            <span>впечатления</span>
        </h2>
        <div class="portfolio__desc">
            и эффектные снимки для моих клиентов
        </div>

        <div class="portfolio__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Лукбук</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Фотопрогулка</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio2.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Контент</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio3.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Бьюти</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio4.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Реклама</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio5.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Модельный тест</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio6.webp" alt="">
                        </div>
                    </div>

                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Лукбук</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio7.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Фотопрогулка</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio8.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__item'>
                        <div class="portfolio__item-title">
                            <img src="img/list-marker.svg" alt="">
                            <span>Контент</span>
                        </div>
                        <div class="portfolio__item-img">
                            <img src="img/portfolio9.webp" alt="">
                        </div>
                    </div>
                    <div class='swiper-slide portfolio__link'>
                        <a href="" class="portfolio__link-inner">
                            <div class="portfolio__link-icon">
                                @@include('../../img/camera.svg')
                            </div>
                            <div class="portfolio__link-title">
                                Смотреть
                                <span>больше фото</span>
                            </div>
                            <div class="portfolio__link-btn">
                                @@include('../../img/arrow.svg')
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="portfolio__slider-nav">
                <div class='swiper-button-prev'>
                    @@include('../../img/arrow-prev.svg')
                </div>
                <span class="portfolio__slider-nav-title">
                    Листать галерею
                </span>
                <div class='swiper-button-next'>
                    @@include('../../img/arrow.svg')
                </div>
            </div>
        </div>
    </div>

</div>