<div class="portfolio__item-buttons">
    <button class="portfolio__item-download btn">
        <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 13H13.8V15.9333H1.2V13H0V17H15V13Z" fill="white"/>
            <path d="M6.86963 0V10.7601L2.89828 7.05631L2 7.89077L7.5 13L13 7.89077L12.1017 7.05631L8.13037 10.7601V0H6.86963Z" fill="white"/>
        </svg>
    </button>
    <button class="portfolio__item-favourite btn"></button>
</div>